{% extends 'base.html.twig' %}
{% block title %}Nuevo Producto{% endblock %}

{% block body %}
	<h1>Producto</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <hr>
    <a href="/products/list" class="">Regresar</a>
{% endblock %}