{% extends 'base.html.twig' %}
{% block title %}{{ categories.name }}{% endblock %}

{% block body %}
    <h1>{{ categories.name }}</h1>
    <p>Codigo: {{ categories.code }}</p>
    <p>Descripción: {{ categories.description }}</p>
    <p>Activo: {% if categories.active == 1 %}Si{% else %}No{% endif %}</p>
    <hr>
    <a href="/categories/list" class="">Regresar</a>
{% endblock %}